@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center ;
}

.gameboard {
    border: 5px solid gray;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 610px;
    height: 610px;
    background-color: gray;
    gap: 5px;
    border-radius: 5px;
    
}

.cell {
    height: 200px;
    width: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
    color: black;
    box-sizing: border-box;
    background-color: white;
}

.gamestart {
    border-color: gray;
    border-width: 3px;
    border-style: solid;
    height: 50vh;
    width: 50vw;
    display: grid;
    justify-items: center;
    border-radius: 8px;
    align-items: center;
}

.gamestart > h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 3.5rem;
}
.players {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

.player {
    display: grid;
    justify-items: center;
    font-size: 2rem;
    gap: 10px;
}

.player > input {
    font-size: 1.25rem;
}

.gamestart > button {
    height: max-content;
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 5px;
}

.hide {
    display: none;
}